Repository Epitech-2nd-Year-Projects/survivor-seminar, pull requests merged in 2025-09, with the labels that each got.

#44 create basic functionnal api
  backend/cmd/jeb/main.go
  backend/internal/api/handlers/.gitkeep
  backend/internal/api/middleware/.gitkeep
  backend/internal/config/config.go
  backend/internal/handlers/health.go
  backend/internal/handlers/root.go
  backend/internal/http/pagination/pagination.go
  backend/internal/middleware/cors.go
  backend/internal/middleware/logger.go
  backend/internal/middleware/recovery.go
  backend/internal/middleware/requestid.go
  backend/internal/response/response.go
  backend/internal/server/server.go
Labels: Backend, Setup

#56 [SS-8] Implement crud for startups
  backend/go.mod
  backend/go.sum
  backend/internal/database/.gitkeep
  backend/internal/database/models/startups.go
  backend/internal/handlers/v1/health.go
  backend/internal/handlers/v1/root.go
  backend/internal/handlers/v1/startups.go
  backend/internal/server/routes/v1/startups.go
  backend/internal/server/server.go
  backend/migrations/.gitkeep
  backend/migrations/000002_create_startups_table.down.sql
  backend/migrations/000002_create_startups_table.up.sql
  backend/migrations/000003_add_startups_indexes.down.sql
  backend/migrations/000003_add_startups_indexes.up.sql
Labels: Backend, CRUD

#57 Enzogallini/ss 13 implement crud for opportunities
  backend/internal/database/models/opportunities.go
  backend/internal/handlers/v1/opportunities.go
  backend/internal/handlers/v1/startups.go
  backend/internal/http/pagination/pagination.go
  backend/internal/server/server.go
  backend/migrations/000001_opportunities.down.sql
  backend/migrations/000001_opportunities.up.sql
Labels: Backend, CRUD

#61 Enzogallini/ss 10 implement crud for founders
  backend/internal/database/models/founders.go
  backend/internal/handlers/v1/founders.go
  backend/internal/server/routes/v1/founders.go
  backend/internal/server/server.go
  backend/migrations/000004_founders.down.sql
  backend/migrations/000004_founders.up.sql
Labels: Backend, CRUD

#80 [SS-10] implement crud for founders
  backend/internal/database/models/founders.go
  backend/internal/handlers/v1/founders.go
  backend/internal/server/routes/v1/founders.go
  backend/internal/server/server.go
  backend/migrations/000010_founders.down.sql
  backend/migrations/000010_founders.up.sql
Labels: Backend, CRUD

#88 [SS-4] implement authentication jwt bcrypt
  backend/configs/config.example.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/auth/jwt.go
  backend/internal/config/config.go
  backend/internal/database/models/auth_token.go
  backend/internal/database/models/users.go
  backend/internal/handlers/v1/auth.go
  backend/internal/handlers/v1/users.go
  backend/internal/middleware/auth.go
  backend/internal/notifications/email/smtp.go
  backend/internal/notifications/email/types.go
  backend/internal/server/routes/v1/auth.go
  backend/internal/server/routes/v1/events.go
  backend/internal/server/routes/v1/investors.go
  backend/internal/server/routes/v1/news.go
  backend/internal/server/routes/v1/opportunities.go
  backend/internal/server/routes/v1/partners.go
  backend/internal/server/routes/v1/startups.go
  backend/internal/server/routes/v1/users.go
  backend/internal/server/server.go
  backend/internal/storage/s3/uploader.go
  backend/internal/sync/cronlogger.go
  backend/internal/sync/jeb_events_api.go
  backend/internal/sync/jeb_news_api.go
  backend/internal/sync/jeb_startups_api.go
  backend/internal/sync/jeb_users_api.go
  backend/internal/sync/multi_service.go
  backend/internal/sync/repo_events_gorm.go
  backend/internal/sync/repo_news_gorm.go
  backend/internal/sync/repo_startups_gorm.go
  backend/internal/sync/repo_users_gorm.go
  backend/internal/sync/scheduler.go
  backend/internal/sync/service.go
  backend/internal/sync/status.go
  backend/internal/sync/types.go
  backend/migrations/000010_add_user_email_verification_and_tokens.down.sql
  backend/migrations/000010_add_user_email_verification_and_tokens.up.sql
Labels: Backend, Auth

#82 Enzogallini/ss 46 unit tests for api handlers
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/internal/handlers/v1/events_test.go
  backend/internal/handlers/v1/health_test.go
  backend/internal/handlers/v1/investors.go
  backend/internal/handlers/v1/investors_test.go
  backend/internal/handlers/v1/news_test.go
  backend/internal/handlers/v1/opportunities_test.go
  backend/internal/handlers/v1/partners_test.go
  backend/internal/handlers/v1/root_test.go
  backend/internal/handlers/v1/startups.go
  backend/internal/handlers/v1/startups_test.go
  backend/internal/handlers/v1/sync_test.go
  backend/internal/handlers/v1/users_test.go
  backend/internal/http/pagination/pagination_test.go
  backend/internal/middleware/middleware_test.go
  backend/internal/response/response_test.go
  backend/internal/sync/gorm_repo_test.go
  backend/internal/sync/jeb_api_test.go
  backend/internal/sync/sync_test.go
  backend/migrations/000002_create_startups_table.up.sql
Labels: Backend, CRUD, Test

#94 Fix email verification
  backend/internal/handlers/v1/auth.go
Labels: Backend, fix

#92 [SS-23] add api documentation
  backend/api/openapi.yaml
  backend/configs/config.example.yaml
  backend/docs/BASE.md
  backend/docs/openapi.yaml
  backend/internal/database/models/events.go
  backend/internal/database/models/investros.go
  backend/internal/database/models/news.go
  backend/internal/database/models/opportunities.go
  backend/internal/database/models/partners.go
  backend/internal/database/models/startups.go
  backend/internal/database/models/users.go
  backend/internal/docs/openapi.go
  backend/internal/handlers/v1/auth.go
  backend/internal/handlers/v1/events.go
  backend/internal/handlers/v1/health.go
  backend/internal/handlers/v1/investors.go
  backend/internal/handlers/v1/news.go
  backend/internal/handlers/v1/opportunities.go
  backend/internal/handlers/v1/partners.go
  backend/internal/handlers/v1/root.go
  backend/internal/handlers/v1/startups.go
  backend/internal/handlers/v1/sync.go
  backend/internal/handlers/v1/users.go
  backend/internal/http/requests/requests.go
  backend/internal/response/openapi_types.go
  backend/internal/response/response.go
  backend/internal/response/response_test.go
  backend/scalar.config.json
Labels: Backend, Docs

#115 Enzogallini/ss 14 implement messaging system
  backend/internal/database/models/conversation.go
  backend/internal/database/models/conversation_participant.go
  backend/internal/database/models/message.go
  backend/internal/database/models/message_read.go
  backend/internal/handlers/v1/conversation.go
  backend/internal/handlers/v1/conversation_test.go
  backend/internal/http/requests/requests.go
  backend/internal/response/message_response.go
  backend/internal/server/routes/v1/conversation.go
  backend/internal/server/server.go
  backend/migrations/000011_message.down.sql
  backend/migrations/000011_message.up.sql
Labels: Backend, CRUD

#113 fix(partners) : Remove CreateAt from Create Partners endpoint
  backend/internal/handlers/v1/partners.go
Labels: Backend, CRUD

#108 feat(news) : Add filter to GET news endpoint
  backend/internal/handlers/v1/news.go
  backend/internal/handlers/v1/news_test.go
  backend/internal/server/routes/v1/news.go
Labels: Backend, CRUD

#107 feat(users) : Add filter to GET users endpoint
  backend/internal/handlers/v1/users.go
  backend/internal/handlers/v1/users_test.go
  backend/internal/server/routes/v1/users.go
Labels: Backend, CRUD

#119 [SS-54] switch auth to cookie
  backend/Makefile
  backend/docs/openapi.yaml
  backend/internal/docs/openapi.go
  backend/internal/handlers/v1/auth.go
  backend/internal/handlers/v1/conversation.go
  backend/internal/handlers/v1/conversation_test.go
  backend/internal/handlers/v1/events.go
  backend/internal/handlers/v1/investors.go
  backend/internal/handlers/v1/news.go
  backend/internal/handlers/v1/opportunities.go
  backend/internal/handlers/v1/partners.go
  backend/internal/handlers/v1/startups.go
  backend/internal/handlers/v1/sync.go
  backend/internal/handlers/v1/users.go
  backend/internal/http/requests/requests.go
  backend/internal/middleware/auth.go
  backend/internal/middleware/cors.go
  backend/internal/response/openapi_types.go
  backend/internal/server/routes/v1/auth.go
  backend/internal/server/routes/v1/users.go
  web/.env.example
Labels: Backend, Auth

#123 fix (news) : Accept image in PATCH and POST endpoints
  backend/internal/handlers/v1/helper.go
  backend/internal/handlers/v1/news.go
  backend/internal/handlers/v1/news_test.go
  backend/internal/http/requests/requests.go
  backend/internal/server/routes/v1/news.go
  backend/internal/server/server.go
Labels: Backend, CRUD

#124 fix (user) : Accept image in PATCH and POST endpoints
  backend/Makefile
  backend/internal/handlers/v1/news.go
  backend/internal/handlers/v1/users.go
  backend/internal/handlers/v1/users_test.go
  backend/internal/http/requests/requests.go
  backend/internal/server/routes/v1/users.go
  backend/internal/server/server.go
Labels: Backend, CRUD

#141 docs (backend) : Add Swagger documentation for API
  backend/go.mod
  backend/go.sum
  backend/internal/docs/docs.go
  backend/internal/docs/swagger.json
  backend/internal/docs/swagger.yaml
  backend/internal/handlers/v1/startups.go
  backend/internal/handlers/v1/statistics.go
  backend/internal/response/response.go
  backend/internal/server/server.go
Labels: Docs

#144 Fix landing page error
  web/src/app/dashboard/conversations/[id]/page.tsx
  web/src/app/dashboard/conversations/page.tsx
  web/src/components/profile/my-startup-profile.tsx
  web/src/components/ui/calendar.tsx
Labels: Frontend, fix

#145 Fix footer
  web/src/app/(public)/layout.tsx
  web/src/app/(public)/page.tsx
  web/src/components/landing-navbar.tsx
Labels: Frontend, fix
